

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}




.list__header {
  text-align: left;
  margin: 10px;
}

@media (max-width: 767px) {
  .list__header {
    text-align: center;
  }
}


.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  max-width: 700px;
  width: 100%;
  padding: 5px;
  margin: 2px 0px;
  margin-bottom: 0px;
  background-color: white;
}

@media (max-width: 767px) {
  .list {
    max-width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.list__tasks {
  background-color: white;
  border: 1px solid #ccc;
  max-width: 700px;
  width: 100%;
  padding: 5px;
  min-height: 55px;
}

@media (max-width: 767px) {
  .list__tasks {
    max-width: 266px;
    width: 90%;
    padding: 0px;
  }
}





.list__item {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid hsl(0, 0%, 90%);
  column-gap: 10px;
  word-break: break-all;
}
@media (max-width: 767px) {
  .list__item {
    max-width: 255px;
    width: 90%;
    padding: 5px;
    align-items: flex-start;
    word-break: break-all;
  }
}

.list__item--done {
  text-decoration: line-through;
}



.list__unordered {
  margin: auto;
  padding: 10px;
}

@media (max-width: 767px) {
  .list__unordered {
    padding: 10px;
    margin: 5px;
    width: 100%;
  }
}

.list__item--hide {
  display: none;
}




