.list__button {
  border: 1px solid rgb(0, 0, 0);
  background-color: teal;
  color: white;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: grab;
}

.list__button--done {
  background-color: teal;
}

.list__button--remove {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}
.form__newButtons {
  display: flex;
  background-color: transparent;
  color: teal;
  padding: 10px;
  outline: none;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.form__hiddenButtons {
  display: flex;
  justify-content: flex-end;
}

.button__setAllDone:disabled  {
  color: black;
  transition: none;
  
}
.button__setDone{
  display: flex;
  background-color: transparent;
  color: teal;
  padding: 10px;
  outline: none;
  border: none;
  margin: 5px;
  transition: 1s;
  color: hsl(180, 100%, 30%);
  transform: scale(1.1);
  cursor: pointer;
}

.button__setDone:hover {
  color: hsl(180, 100%, 30%);
  transform: scale(1.1);
}
.button__setDone:disabled {
  color: black;
}

.button__transition {
  
  transition: 1s;
}

.button__transition:hover {
  color: hsl(180, 100%, 30%);
  transform: scale(1.1);
}
.test {
  display: flex;
  width: 40%;
  margin-right: 0px;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .test {
    width: 100%;
  }
}

.test2 {
  display: flex;
  width: 100%;
  margin-right: 0px;
  justify-content: flex-start;
}